# atlantis.var.j2
URL="{{ secrets_data.URL }}"
USERNAME="{{ secrets_data.USERNAME }}"
TOKEN="{{ secrets_data.TOKEN }}"
SECRET="{{ secrets_data.SECRET }}"
REPO_ALLOWLIST="{{ secrets_data.REPO_ALLOWLIST }}"
REPO_CONFIG="{{ secrets_data.REPO_CONFIG }}"
